Xft.dpi: 96
Xft.antialias: true
Xft.hintstyle: hintslight

XTerm*faceName: xft:Monospace
XTerm*faceSize: 8

XTerm*VT100.Translations: #override \
  Ctrl<Key>equal: larger-vt-font() \n\
  Ctrl<Key>minus: smaller-vt-font() \n\
  Ctrl<Key>0: set-vt-font(d)
